body{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* .navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
}

.navbar.dark {
  background-color: #333;
  color: white;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-content button {
  padding: 10px;
} */
